# PHP CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-php/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/php:7.2.11-zts-node-browsers
        environment:
            - DB_HOST: 127.0.0.1
            - DB_USERNAME: 'root'
            - DB_PASSWORD: ''

      - image: circleci/mysql:5.7
        environment:
            - MYSQL_ALLOW_EMPTY_PASSWORD: yes
            - MYSQL_ROOT_PASSWORD: ''
            - MYSQL_DATABASE: app

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "build/app/composer.json" }}
          - v1-dependencies-

      - run:
          name: Install PHP extensions
          command: sudo docker-php-ext-install pdo_mysql pcntl

      - run:
          name: Install dependent packages for PHP
          command: composer install -n --prefer-dist
          working_directory: build/app

      - run:
          name: Setting up enviroment
          command: cp _env .env && php artisan key:generate
          working_directory: build/app

      - run:
          name: Waiting for DB
          command: dockerize -wait tcp://127.0.0.1:3306 -timeout 120s

      - run:
          name: DB migration and seeding
          command: php artisan migrate && php artisan db:seed
          working_directory: build/app

      - run:
          name: Install dependent packages for Node
          command: npm install
          working_directory: build/app

      - save_cache:
          paths:
            - ./vendor
          key: v1-dependencies-{{ checksum "build/app/composer.json" }}

  test-server:
    docker:
      - image: circleci/php:7.2.11-zts-node-browsers
        environment:
            - DB_HOST: 127.0.0.1
            - DB_USERNAME: 'root'
            - DB_PASSWORD: ''

      - image: circleci/mysql:5.7
        environment:
            - MYSQL_ALLOW_EMPTY_PASSWORD: yes
            - MYSQL_ROOT_PASSWORD: ''
            - MYSQL_DATABASE: app

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "build/app/composer.json" }}
          - v1-dependencies-

      - run:
          name: Install PHP extensions
          command: sudo docker-php-ext-install pdo_mysql pcntl

      - run:
          name: Install dependent packages for PHP
          command: composer install -n --prefer-dist
          working_directory: build/app

      - run:
          name: Setting up enviroment
          command: cp _env .env && php artisan key:generate
          working_directory: build/app

      - run:
          name: Waiting for DB
          command: dockerize -wait tcp://127.0.0.1:3306 -timeout 120s

      - run:
          name: Install dependent packages for Node
          command: npm install
          working_directory: build/app

      - save_cache:
          paths:
            - ./vendor
          key: v1-dependencies-{{ checksum "build/app/composer.json" }}

      - run:
          name: PHPUnit
          command: vendor/bin/phpunit
          working_directory: build/app

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test-server:
          requires:
          - build
